{% extends "layout.html" %}
{% block title %}hackcity{% endblock %}
{% block content %}


<div class="card container d-flex h-100" style="width: 48rem; margin-top:5%;">
  <img class="card-img-top" src="../static/img/city.jpg#" alt="Card image cap">
  <div class="card-body">
    <h2 class="card-title"></h2>
    <i class="card-text">**For research purposes only</i>
  </div>
  <div class="card-body">
   <form action="/setup" method="post" id="installation">

   <div class="form-group">
  <label for="sel1">Select city:</label>
<select name="country" class="countries form-control" id="countryId">
    <option value="">Select Country</option>
</select>
<select name="state" class="states form-control" id="stateId">
    <option value="">Select State</option>
</select>
<select name="city" class="cities form-control" id="cityId">
    <option value="">Select City</option>
</select>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script src="//geodata.solutions/includes/countrystatecity.js"></script>
</div>




<!--
  <h4>-Docker options-</h4>
   <h4>-Zabbix options-</h4>
    <div class="form-check">
     <label class="form-check-label">
        <input type="radio" class="form-check-input" name="zabbix_radio">I want to specify route scripts
     </label>
    </div>

    <h4>-Openvas options-</h4>
    <div class="form-check">
     <label class="form-check-label">
        <input type="radio" class="form-check-input" name="openvas_radio"> I've got an openvas server
     </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="openvas_radio">I've got two or more openvas servers
      </label>
    </div>
   <div class="form-check">
  <label class="form-check-label">
    <input type="radio" class="form-check-input" name="openvas_radio">Create an openvas container
  </label>
</div>
-->

    <button type="submit" id="setup" class="btn btn-primary">Submit</button>
   </form>

  <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
		<p id="changeText" style="margin-left:1%;"></p>
            </div>

   

  </div>
</div>

{% endblock %}
{% block footer %}
    <script>
        $(document).ready(function() {
            $('.progress').hide();
	    $('#advancedOptions').hide();
        });
  </script>
 

   <script>
        $(document).ready(function(){
            $("#setup").click(function(){
                $(".progress").toggle();
		$("form").toggle();
                $(".progress-bar").animate({
                    width: "65%"
                }, 5000);
		var wordsArray = ["Creating structure...", "Starting containers...", "Importing templates into ZABBIX...", "Getting city devices...", "Launching ZABBIX discoveries..."];
		var time = 0;
		$.each(wordsArray, function(index, value) {
	      		function delayed() {
    				$("#changeText").html(value);
      			};
      			setTimeout( delayed , time );
      			time += 4000;
		});

		});
  	});
    </script>

{% endblock %}
